.window {
  position: relative;
  width: 70%;
  min-width: 350px;
  min-height: 80vh;
  background: #ffffff;
  background: transparent;
  box-shadow: 0 0 20px 0 #999;
}

.window header {
  height: 120px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 5px 15px 0 #999;
}

.window header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.window header > div .logo {
  margin-left: 20px;
}

.window header h2 {
  font-size: var(--font-size-big);
  font-weight: 300;
  color: var(--color-gray-700);
}

.window__content {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: var(--bg-color);
  background: transparent;
}

.window__content .content__background {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  top: 0;
  left: 0;
  background: var(--bg-color);
  opacity: 0.6;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .window header > div .logo {
    width: 100px;
  }
  
  .window header h2 {
    width: fit-content;
    font-size: 18px;
    margin-left: 10px;
  }
}